.counter {
  width: 100%;
  text-align: center;
}

.display {
  font-family: serif;
  font-size: 240px;
}

.button {
  font-family: serif;
  padding: 2em;
  font-size: 20px;
  border-radius: 3px;
  &:hover {
    cursor: pointer;
  }
}

